.App {
  display: flex;
  flex-direction: row;
  /* text-align: center; */
}

.sidebar {
  background-color: rgb(29, 42, 68);
  width: 10vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  text-align: left;
  flex-grow: 0; /* default 0 */
}

.navlink {
  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 500;
  border: none;
  color: #676b6e;
  width: max-content;
}
.navlink:hover {
  background-color: #cdcfd1;
  color: #333333;
}
.navlink.active {
  border-bottom: 2px solid black;
  color: #3d73df;
  font-weight: 900;
}
.page-viewer {
  display: flex;
  flex-grow: 1; /* default 0 */
}
.page {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
.page-title {
  font-size: 1.75rem;
}
/* used for displaying the current employee in the employees list */
.currentListItem {
  font-weight: 800;
  background-color: rgb(77, 110, 177);
  width: 100%;
}

.passive {
  font-weight: 400;
}

.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}

.employees-list {
  background-color: rgb(54, 77, 124);
  margin-left: -20px;
  padding: 5px;
  cursor: pointer;
}

.employee-title {
  font-size: 30px;
}
.employee-card {
  background-color: rgb(77, 110, 177);
  margin: 10px;
  margin-left: 0px;
  padding: 5px;
}
.employee-header-2 {
  font-size:25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* FLIGHT */
.ticket-info {
  margin: 5px;
}
