.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  /* text-align: center; */
  background-color: rgb(224 224 224 / 80%);
}
/* general page */
.page-title {
  padding: 1rem;
  font-size: 34px;
  text-align: center;
  justify-content: left;
  /* border-bottom: 2px solid rgb(192, 192, 192); */
  margin-bottom: 1rem;
}
.component-container {
  /* border: 2px solid grey; */
  padding: 1rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 1);
}
.component-title {
  font-size: 26px !important;
}
.component-title-sm {
  font-size: 20px;
}

/*  */
/* SCROLL BAR SIDE-BAR */
.navlink-item::-webkit-scrollbar {
  width: 5px;
}

.navlink-item::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 184, 184, 0.267);
}

.navlink-item::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
/*  */

.sidebar {
  background-color: rgb(11, 33, 75);
  width: 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 8px 16px; */
  text-align: center;
  flex-grow: 0; /* default 0 */
}
.sidebar-v {
  background-color: rgb(108, 202, 146);
  width: 100%;
  height: 5vh;
  /* padding: 1rem; */

  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;

  flex-grow: 0; /* default 0 */
}
.navlink:hover {
  background-color: rgba(205, 207, 209, 0.5);
  color: #333333;
}
.navlink-active:hover {
  /* background-color: rgba(205, 207, 209, 0.5); */
  color: #000000;
}
.navlink-active {
  /* border: none; */

  border-bottom: 2px solid black;
  color: #000000;

  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 400;
  padding-left: 1rem;
  padding-right: 1rem;
}
.navlink {
  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 300;
  border: none;
  color: #848484;
  padding-left: 1rem;
  padding-right: 1rem;
  /* width: max-content; */
}

/* used to for toggle in menu */
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px;
  /* margin-left:10px; */
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*  */

.indent {
  padding-left: 15px;
}

.navlink-item {
  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 500;
  border: none;
  color: #ffffff;

  /* width: max-content; */
  cursor: pointer;
}
.scroll {
  overflow-y: scroll;
  /* width: max-content; */
}
.no-scroll {
  overflow-y: hidden;
  /* width: max-content; */
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
/* .page-title-container{
  background-color: rgb(238, 203, 203);
  --bs-gutter-x: 0px;
} */

.header-text-year {
  font-size: 16px;
  align-items: center;
  margin-bottom: 10px;
}

.page-header2 {
  font-size: 1.3rem;
  /* text-align: left; */
  justify-content: center;
  /* border-bottom: 4px solid black; */
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
/* used for displaying the current employee in the employees list */
.currentListItem {
  font-weight: 800;
  background-color: rgb(77, 110, 177);
  width: 100%;
}

.passive {
  font-weight: 400;
}

.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}
.flight-list {
  border-left: 3px solid black;
  border-right: 3px solid black;
}
.container-title {
  font-size: 1.5rem;
}

.employees-list {
  background-color: rgb(54, 77, 124);
  margin-left: -20px;
  padding: 5px;
  cursor: pointer;
}

.employee-title {
  font-size: 30px;
}
.employee-card {
  background-color: rgb(77, 110, 177);

  padding: 5px;
}
.employee-header-2 {
  font-size: 25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* FLIGHT */
.ticket-info {
  margin: 5px;
}
.flight-list-item {
  background-color: rgb(157, 173, 202);
  padding: 2px;
  margin: 2px;
}
.flight-details {
  align-items: flex-start;
  flex-grow: 1;
}
.map-chart-container {
  /* flex-grow: 2; */
  display: flex;
}
/* __________________ */

/* DataCard */
.data-card {
  /* background-color: rgb(157, 173, 202); */
  text-align: center;
  margin: 5px;
  padding: 5px;
  /* border-radius: 5px; */
  border: 1px solid rgb(114, 114, 114);
  /* height: 100%; */
  /* width: 100%; */
}
.data-card-header {
  /* font-weight: 600; */
  font-size: 20px;
  color: rgb(54, 77, 124);
}
.data-card-header-overshoot {
  font-size: 20px;

  /* font-weight:700; */
  color: rgb(158, 0, 0);
}
.data-card-1 {
  /* width: 50%; */
  font-weight: 600;
  font-size: 20px;
  /* max-width: none; */
  /* justify-self: flex-end; */

  /* flex-wrap: nowrap; */
}
.data-card-1-overshoot {
  font-size: 20px;
  font-weight: 600;

  /* font-weight:700; */
  color: rgb(158, 0, 0);
}
.symbol-text {
  /* max-width: none; */
  /* justify-self: flex-start; */
  /* width: 50%; */
  font-size: 15px;
  color: rgb(165, 165, 165);

  /* flex-wrap: nowrap; */
}
/* _______________________________ */
/*__________ TRIPLIST_____________ */
.triplist-container {
  background-color: rgba(184, 184, 184, 0.267);
}
.triplist-column-header {
  font-weight: bolder;
}
.triplist-item {
  border-top: 2px solid grey;
}
.triplist-item-month {
  /* border-top: 2px solid grey; */
  /* font-weight: bold; */
  font-weight: 600;
  color: #333333;
  font-size: 17px;
}
/* _______________________________ */
/* ___________DATA CARD PROGRESS____ */
.card-card-progress-container {
  /* width: 50%; */
  background-color: rgb(217, 236, 255);
  margin: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
.overshoot-text {
  font-weight: 700;
  color: rgb(158, 0, 0);
}

/* ADD NEW EMPLOYEE form*/
.addNewInput {
  /* width:300px; */
  background-color: white;
  border: 1px solid rgba(136, 136, 136, 0.87);
  border-radius: 4px;
  /* border-top-right-radius: 0px;
  border-bottom-right-radius: 0px; */
  padding: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
}

/* _________________________________ */
/* Employee LIST  */
.addEmployee-container {
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  align-items: flex-start;
  margin: 1rem;
}

.addEmployee-row {
  /* margin: 1px !important; */
  cursor: pointer;
}

/* _________________________________ */
/* _______SearchBar ____ */
.searchInput {
  /* width:300px; */
  font-size: 14px;
  background-color: white;
  border: 0;
  border-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}
.searchInput:focus {
  outline: none;
}
.searchResult {
  z-index: 1000;
  position: absolute;
  margin-top: 5px;
  /* width: 350px; */
  max-height: 300px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
}
.dataResult::-webkit-scrollbar {
  display: none;
}
.searchResult-item {
  cursor: pointer;
  margin: 3px;
}
.searchResult-item:hover {
  background-color: rgb(121, 121, 121) !important;
}
.searchResult-itemName {
  max-width: 250px;
  font-size: 13px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  overflow: hidden;
  /* height: 50px; */
  display: block;
  align-items: center;
  color: black;
}
.searchResult-itemShort {
  font-size: 13px;
  display: inline-block;
  align-items: center;
  color: black;
}
.searchResultItem :hover {
  background-color: rgb(165, 165, 165);
  cursor: pointer;
}
.suggested {
  background-color: rgba(226, 201, 55, 0.35);
  border-bottom: 2px solid rgba(173, 174, 173, 0.35);
}
.suggested:hover {
  color: "#ffffff" !important;
}

.suggestedText {
  color: rgba(236, 131, 171, 0.744);
  font-size: 12px;
  /* text-align: right; */
}
#clearBtn {
  cursor: pointer;
}

.searchInputs {
  display: flex;
  align-items: center;
}

/* _________________________________ */
/* FindFlight*/
/* .findFlight-container {
  border: 2px solid grey;
  border-radius: 4px;
  justify-content: center;
} */

/* _________________________________ */
/* FlightDetails */
.flightDetails-container {
  background-color: rgba(245, 209, 162, 0.55);
}

/* _________________________________ */
/* __ Purpose of trip ___*/
.purposeOfTrip-container {
  /* margin-top: 2rem !important; */
  /* background-color: rgba(178, 204, 243, 0.433); */
  /* box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px; */
  /* border: 2px solid grey; */
  border-radius: 5px;
}

.purposeOfTrip-header {
  font-size: 1.2rem;
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
  padding: 1rem;
}
.purposeOfTrip-header2 {
  font-size: 1rem;
  font-size: 16px;
  /* margin-top: 2rem;
  margin-bottom: 1rem; */
  padding: 0.5rem;
}
.Btn-Custom-BG-prio0 {
  background-color: rgba(177, 195, 240, 0.892);
}
.react-select-3-listbox {
  z-index: 1000 !important;
}
/* FlightList */
.list-table {
  overflow-y: auto;
  height: 40vh;
  /* border: 1px solid; */
}
.list-table-project {
  overflow-y: auto;
  height: 20vh;
  /* border: 1px solid; */
}
.flightListDetails-item {
  font-weight: 600;
  color: #1604bd;
}
.flightListDetails-header {
  font-weight: 700;
}
.list-column-header {
  font-weight: 450;
  cursor: pointer !important;
}
.list-column-header:hover {
  background-color: rgba(194, 194, 194, 0.9);
  cursor: pointer;
}
.list-column-header-sortFocus {
  font-weight: 650;
  border-bottom: 1px solid black;
}
.list-project-column-header {
  font-weight: 450;
}
/* Budget progress bar */
/* .budgetProgressBar-container {
  background-color: rgb(255, 255, 255);
  border: 2px solid grey;
  border-radius: 5px;
  padding: 10px;
  //align-items: flex-start; 
  //margin: 1rem; 
} 
*/
/* .yy{
  color:#ecebf4;
  background-color:rgb(234, 234, 234);
} */
.warning {
  border: 2px solid rgb(255, 4, 0);
  background-color: rgb(232, 191, 67);
  /* color:#fff; */
}

.spanBox1 {
  background: rgb(0, 86, 245);
  color: rgb(0, 86, 245);
  height: 12px;
  width: 12px;
  /* left: 0px;
  top: 0px; */
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.spanBox2 {
  background: rgb(133, 175, 255);
  color: rgb(133, 175, 255);
  height: 12px;
  width: 12px;
  /* left: 0px;
  top: 0px; */
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.spanBox3 {
  background: rgb(192, 53, 122);
  color: rgb(192, 53, 122);
  height: 12px;
  width: 12px;
  /* left: 0px;
  top: 0px; */
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.spanBox4 {
  background: rgb(224, 143, 184);
  color: rgb(224, 143, 184);
  height: 12px;
  width: 12px;
  /* left: 0px;
  top: 0px; */
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
}
.spanBox5 {
  background: rgb(135, 188, 94);
  color: rgb(135, 188, 94);
  height: 12px;
  width: 12px;
  /* left: 0px;
  top: 0px; */
  border-width: 0px;
  border-color: rgb(255, 255, 255);
  border-radius: 2px;
}
