.App {
  display: flex;
  flex-direction: row;
  height:100%;
  /* text-align: center; */
}
/* SCROLL BAR SIDE-BAR */
.navlink-item::-webkit-scrollbar {
  width: 5px;
}

.navlink-item::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(184, 184, 184, 0.267);
}

.navlink-item::-webkit-scrollbar-thumb {
background-color: darkgrey;
  outline: 1px solid slategrey;
}
/*  */

.sidebar {
  background-color: rgb(11, 33, 75);
  width: 12vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* padding: 8px 16px; */
  text-align: center;
  flex-grow: 0; /* default 0 */
}
/* used to for toggle in menu */
.arrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 5px;
  /* margin-left:10px; */
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
/*  */

.indent{
  padding-left:15px;
}
.navlink {
  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 500;
  border: none;
  color: #ffffff;
  /* width: max-content; */
}
.navlink-item {
  font-size: 1.75vw;
  text-decoration: none;
  font-weight: 500;
  border: none;
  color: #ffffff;

  /* width: max-content; */
  cursor: pointer;

}
.scroll {
  overflow-y: scroll;
  /* width: max-content; */
}
.no-scroll {
  overflow-y: hidden;
  /* width: max-content; */
}
.navlink:hover {
  background-color: #cdcfd1;
  color: #333333;
}
.navlink.active {
  border-bottom: 2px solid black;
  color: #ffffff;
  background-color: #f7d79d;
  width: 100%;

  font-weight: 700;
}



.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}
.flex-grow {
  flex-grow: 1;
}
/* .page-title-container{
  background-color: rgb(238, 203, 203);
  --bs-gutter-x: 0px;
} */
.page-title {
  font-size: 3rem;
  text-align: center;
  justify-content: center;
  border-bottom: 4px solid black;
  margin-bottom:1rem;
}
/* used for displaying the current employee in the employees list */
.currentListItem {
  font-weight: 800;
  background-color: rgb(77, 110, 177);
  width: 100%;
}

.passive {
  font-weight: 400;
}

.align-items-flex-start {
  align-items: flex-start;
}
.align-items-flex-end {
  align-items: flex-end;
}

.employees-list {
  background-color: rgb(54, 77, 124);
  margin-left: -20px;
  padding: 5px;
  cursor: pointer;
}

.employee-title {
  font-size: 30px;
}
.employee-card {
  background-color: rgb(77, 110, 177);
 
  padding: 5px;
}
.employee-header-2 {
  font-size:25px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* FLIGHT */
.ticket-info {
  margin: 5px;
}

.flight-details{
  align-items: flex-start;
  flex-grow:1;
}
.map-chart-container{
  flex-grow:2;
}